@page "/"

<div class="overflow-x-hidden">
    <div class="d-flex flex-column justify-content-around align-items-center vh-100 bg-title pt-5">
        <div>
            <h1 class="text-body-emphasis fs-md-1 massive-font fw-semibold">Luke <br/> Honnold</h1>
            <h2 class="text-body big-font">Software Engineer / <br/> Designer</h2>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-body-emphasis">Portfolio</h2>
            <i class="bi bi-chevron-down text-body-emphasis float-element pt-2 fs-1"></i>
        </div>
    </div>
    <div class="bg-title small-space"></div>
    <div class="bg-title small-space"></div>
    
    <ProjectHeader bsColumn="col-4 my-5" bgColor="bg-wellabe" imagePath="../Images/wellabe-logo.svg" imageAlt="Wellabe Logo"/>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-md-7 col-lg-6 my-5 pt-5">
            <p class="text-body my-3">
                MyEnroller, a flagship application by Wellabe, empowers agents to effortlessly enroll their clients in a 
                diverse range of insurance solutions. As the lead designer, I spearheaded the project to revitalize the 
                application’s branding. Additionally, I took charge as the project lead for the software development 
                aspect, overseeing the implementation of the new user interface changes.
            </p>
        </div>
    </div>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-lg-4 me-0 me-lg-1 my-3 ">
            <img class="img-fluid" src="Images/wellabe/myenroller/login-light.jpg" alt="MyEnroller login light mode"/>
        </div>
        <div class="col-10 col-lg-4 ms-0 ms-lg-1 my-3">
            <img class="img-fluid" src="Images/wellabe/myenroller/login-dark.jpg" alt="MyEnroller login dark mode"/>
        </div>
    </div>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-md-7 col-lg-6 my-5 ">
            <p class="text-body my-3">
                As an essential component of the redesign initiative, we conducted comprehensive surveys targeting 
                agents to gain valuable insights into areas where we could enhance their user experience. The survey 
                results highlighted a consistent priority among agents: the need for fast application submission. With 
                this feedback in mind, we streamlined and refined various pages within the redesign.
            </p>
        </div>
    </div>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-lg-4 me-0 me-lg-1 my-3">
            <img class="img-fluid" src="Images/wellabe/myenroller/dashboard-light.jpg" alt="MyEnroller dashboard light mode"/>
        </div>
        <div class="col-10 col-lg-4 ms-0 ms-lg-1 my-3">
            <img class="img-fluid" src="Images/wellabe/myenroller/dashboard-dark.jpg" alt="MyEnroller dashboard dark mode"/>
        </div>
    </div>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-md-7 col-lg-6 my-5 ">
            <p class="text-body">
                We placed significant emphasis on accessibility during the redesign process. As part of this effort, we
                introduced a dark mode feature, catering to the needs of agents experiencing eye strain, sensitivity to
                bright lights, and visual impairments. By minimizing distractions and reducing visual noise surrounding the
                content, this feature empowers users to concentrate more effectively on the information presented, thereby
                enhancing the overall readability and comprehension of textual and graphical elements within the website.
            </p>
        </div>
    </div>
    <div class="row justify-content-center bg-body my-5">
        <div class="col-10 col-lg-4 me-0 me-lg-1 my-3">
            <img class="img-fluid" src="Images/wellabe/myenroller/combo-app.jpg" alt="MyEnroller combo app light mode"/>
        </div>
        <div class="col-10 col-lg-4 ms-0 ms-lg-1 my-3">
            <img class="img-fluid" src="Images/wellabe/myenroller/combo-app-dark.jpg" alt="MyEnroller combo app dark mode"/>
        </div>
    </div>
    <div class="row justify-content-center bg-body my-5">
        <div class="col-10 col-md-3">
            <img class="img-fluid" src="Images/wellabe/myenroller/dashboard-tablet.jpg" alt="MyEnroller dashboard tablet size"/>
        </div>
        <div class="col-10 col-sm-5 col-md-2 my-3 my-md-0">
            <img class="img-fluid" src="Images/wellabe/myenroller/dashboard-mobile.jpg" alt="MyEnroller dashboard phone size"/>  
        </div>
        <div class="d-none d-md-block col-1"></div>
        <div class="col-10 col-sm-5 col-md-2 my-3 my-md-0">
              <img class="img-fluid" src="Images/wellabe/myenroller/dashboard-mobile-slide-up.jpg" alt="MyEnroller dashboard phone size with slide up menu"/>  
        </div>
    </div>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-md-7 col-lg-6 my-5 ">
            <p class="text-body">
                MyEnroller is built using Blazor and bootstrap for the front-end framework and C# as the backend. As the
                project lead, I created detailed style guides with code examples to help ensure consistent clean code. 
                Along with finishing tasks and stories myself, I reviewed the code my teammates were pushing out and had 
                them make adjustments as needed. 
            </p>
        </div>
    </div>
    <div class="bg-body small-space"></div>

    <ProjectHeader bsColumn="col-auto my-5" bgColor="bg-ventures" imagePath="../Images/wellabe/ventures/ventures-logo-yellow.svg" imageAlt="Wellabe Ventures logo"/>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-md-7 col-lg-6 my-5 pt-5">
            <p class="text-body my-3">
                As the designated designer and developer for the ventures team at Wellabe, I undertook the sole 
                responsibility of conceptualizing and building their website. In close collaboration with the ventures 
                team, my aim was to craft a distinctive website that seamlessly merged their unique identity with the 
                established brand guidelines of Wellabe. The site utilizes C# .Net Core and Kentico’s content management
                system.
            </p>
        </div>
    </div>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-lg-4 my-3 my-lg-0">
            <img class="img-fluid" src="Images/wellabe/ventures/ventures-partners.jpg" alt="ventures website partners page"/>
        </div>
        <div class="col-10 col-lg-4 d-flex flex-column justify-content-between">
            <img class="img-fluid my-3 my-lg-0" src="Images/wellabe/ventures/ventures-portfolio.jpg" alt="ventures website portfolio page"/>
            <img class="img-fluid my-3 my-lg-0" src="Images/wellabe/ventures/ventures-news.jpg" alt="ventures website news page"/>
        </div>
        <div class="col-10 col-lg-8 d-flex justify-content-between mt-5">
            <img class="img-fluid" src="Images/wellabe/ventures/ventures-home.png" alt="ventures website home page"/>
        </div>
    </div>
    <div class="row justify-content-center bg-body mt-5">
        <div class="col-10 col-sm-5 col-lg-3 my-3 my-lg-0">
            <img class="img-fluid" src="Images/wellabe/ventures/ventures-tablet.jpg" alt="ventures website home page tablet"/>
        </div>
        <div class="col-10 col-sm-5 col-lg-2 my-3 my-lg-0">
            <img class="img-fluid" src="Images/wellabe/ventures/ventures-mobile.jpg" alt="ventures website home page on mobile"/>
        </div>
    </div>
    <div class="row justify-content-center bg-body">
        <div class="col-10 col-lg-5 d-grid mt-5">
            <a class="btn btn-primary" href="https://wellabeventures.com">View website</a>
        </div>
    </div>
    <div class="bg-body small-space"></div>

    <ProjectHeader bsColumn="col-6 col-sm-3" bgColor="bg-black" imagePath="../Images/henry-js/henrys-hot-sauce.png" imageAlt="Henry J's Hot Sauce"/>
    <div class="row justify-content-center w-100 bg-body">
        <div class="col-10 col-md-7 col-lg-6 my-5 pt-5">
            <p class="text-body my-3">
                Henry J’s Taco House is a beloved Mexican restaurant located in Des Moines, Iowa, that has been serving up 
                delicious dishes since 1973. Their menu features a variety of classic Mexican favorites, including flavorful 
                flour tacos, hearty enchiladas, and satisfying taco salads. Henry J’s Taco House is the perfect spot for a 
                delicious meal.
            </p>
            <p class="fw-semibold text-body mb-1">The Problem</p>
            <p class="text-body">
                Currently the hot sauce is poured into styrofoam cups with plastic lids. The styrofoam and plastic are 
                easy to break, don’t look aesthetically pleasing, and make a mess when you try to pour the hot sauce out.  
            </p>
        </div>
        <div class="row justify-content-center w-100">
            <div class="col-10 col-sm-4 col-md-3 col-lg-2 mt-3 mt-sm-0">
                <img class="img-fluid" src="../Images/henry-js/henrys-styrofoam1.jpg" alt="Hot sauce in styrofoam"/>
            </div>
            <div class="col-10 col-sm-4 col-md-3 col-lg-2 mt-3 mt-sm-0">
                <img class="img-fluid" src="../Images/henry-js/henrys-styrofoam2.jpg" alt="Hot sauce in styrofoam lid closed"/>
            </div>
        </div>
        <div class="col-10 col-md-7 col-lg-6 my-5">
            <p class="fw-semibold text-body mb-1">The Solution</p>
            <p class="text-body">
                I began my design process with rough sketches, then moved on to creating digital designs in Illustrator.
                From there, I selected two different glass bottles to serve as the hot sauce packaging, offering both
                practicality and visual appeal.
            </p>
        </div>
        <div class="my-3 row justify-content-center w-100 align-items-stretch">
            <div class="col-sm-10 col-lg-7">
                <img class="img-fluid" src="../Images/henry-js/Henrys-design-black.png" alt="black hot sauce label"/>
            </div>
            <div class="col-8 col-sm-4 col-lg-2 d-flex mt-3 mt-lg-0">
                <img class="img-fluid" src="../Images/henry-js/Henrys-bottle-black.jpg" alt="hot sauce bottle with black label"/>
            </div>
        </div>
        <div class="my-3 row justify-content-center w-100 align-items-stretch">
            <div class="col-8 col-sm-4 col-lg-2 d-flex order-1 order-lg-0 mt-3 mt-lg-0">
                <img class="img-fluid" src="../Images/henry-js/Henrys-bottle-white.jpg" alt="hot sauce bottle with white label"/>
            </div>
            <div class="col-sm-10 col-lg-7 mt-3 mt-lg-0">
                <img class="img-fluid" src="../Images/henry-js/Henrys-design-white.png" alt="white hot sauce label"/>
            </div>
        </div>
    </div>
    <div class="bg-body small-space"></div>
    
    <ProjectHeader bsColumn="col-6 col-sm-3" bgColor="bg-black" imagePath="../Images/henry-js/henrys-mobileapp.png" imageAlt="Henry J's Mobile App"/>
    <div class="row justify-content-center w-100">
        <div class="col-10 col-md-7 col-lg-6 my-5 pt-5">
            <p class="text-body">
                Henry J’s Taco House is a beloved Mexican restaurant located in Des Moines, Iowa, that has been serving up 
                delicious dishes since 1973. Their menu features a variety of classic Mexican favorites, including flavorful 
                flour tacos, hearty enchiladas, and satisfying taco salads. Henry J’s Taco House is the perfect spot for a 
                delicious meal.
            </p>
        </div>
        <div class="row justify-content-center w-100 align-items-center my-3">
            <div class="col-sm-6 col-xl-4 d-flex justify-content-center justify-content-sm-end mt-3">
                <img class="img-fluid w-50" src="../Images/henry-js/app-1.png" alt="Henry J's Mobile app"/>
            </div>
            <div class="col-sm-6 col-xl-4 d-flex justify-content-center justify-content-sm-start justify-content-xl-center mt-3">
                <img class="img-fluid w-50" src="../Images/henry-js/app-2.png" alt="Henry J's Mobile app"/>
            </div>
            <div class="col-sm-6 col-xl-4 d-flex justify-content-center justify-content-sm-end justify-content-xl-start mt-3">
                <img class="img-fluid w-50" src="../Images/henry-js/app-3.png" alt="Henry J's Mobile app"/>
            </div>
            <div class="col-sm-6 col-xl-4 d-flex justify-content-center justify-content-sm-start justify-content-xl-end mt-3">
                <img class="img-fluid w-50" src="../Images/henry-js/app-4.png" alt="Henry J's Mobile app"/>
            </div>
            <div class="col-sm-6 col-xl-4 d-flex justify-content-center justify-content-sm-end justify-content-xl-center mt-3">
                <img class="img-fluid w-50" src="../Images/henry-js/app-5.png" alt="Henry J's Mobile app"/>
            </div>
            <div class="col-sm-6 col-xl-4 d-flex justify-content-center justify-content-sm-start mt-3">
                <img class="img-fluid w-50" src="../Images/henry-js/app-6.png" alt="Henry J's Mobile app"/>
            </div>
        </div>
    </div>
    <div class="bg-body small-space"></div>
    
    <ProjectHeader bsColumn="col-2 pixel-img" bgColor="bg-weiner" imagePath="../Images/weiner-run/weiner-fire.png"  imageAlt="Weiner on fire running on a grill"/> 
    <div class="row justify-content-center w-100">
        <div class="col-10 col-md-7 col-lg-6 my-5 pt-5">
            <p class="text-body">
                Weiner Run is a pixel art endless runner mobile game created with Unity and C#.  In Weiner Run, players 
                take on the role of a Weiner trying to jump from grill to grill and avoid getting sliced. Along the way,
                they collect power-ups like ketchup, mustard, and pickles, and unlock fun costumes to dress up their 
                Weiner in. The game also features a global “weinerboard” leaderboard, where players can compete against 
                each other for the top spot.
            </p>
            <p class="text-body">
                As the sole developer behind Weiner Run, I was responsible for all aspects of the game’s design and 
                development. This includes programming the game mechanics, designing the levels and obstacles, creating the 
                pixel art graphics and animations, and implementing the global leaderboard feature.
            </p>
        </div>
        <div class="row justify-content-center w-100">
            <div class="col-md-7 col-lg-6">
                <video class="img-fluid" autoplay muted loop>
                    <source src="images/Weiner-Run/Weiner-Run-002.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="col-10 col-sm-6 col-lg-3 d-grid my-5">
            <a  class="btn btn-primary" href="https://www.amazon.com/Luke-H-Weiner-Run/dp/B07BV5556H">View on Amazon App Store</a>
        </div>
        <div class="row justify-content-center w-100">
            <div class="col-10 col-sm-4 col-md-3 mt-3">
                <img class="img-fluid" src="../Images/weiner-run/weinerrun1.jpg" alt="weiner run home screen"/>
            </div>
            <div class="col-10 col-sm-4 col-md-3 mt-3">
                <img class="img-fluid" src="../Images/weiner-run/weinerrun2.jpg" alt="weiner in kitchen"/>    
            </div>
            <div class="col-10 col-sm-4 col-md-3 mt-3">
                <img class="img-fluid" src="../Images/weiner-run/weinerrun4.jpg" alt="Astronaut weiner jumping"/>    
            </div>
        </div>
    </div>
    <div class="bg-body small-space"></div>
    
    <ProjectHeader bsColumn="col-6 d-flex justify-content-center" imgClass="pixel-img" bgColor="bg-luchador" imagePath="../Images/mucho-lucho/luchador-pixel.png" imageAlt="Pixel Luchador figher"></ProjectHeader>
    <div class="row justify-content-center w-100">
        <div class="col-10 col-md-7 col-lg-6 my-5 pt-5">
            <p class="text-body">
                Mucho Lucho is an exciting mobile game that puts you in the shoes of a luchador, a Mexican wrestler, as you 
                battle your way through fierce opponents from around the world. With a global leaderboard, you can compete 
                against players from all over the globe and rise to the top of the rankings.
            </p>
            <p class="text-body">
                The game features an AI enemy fighter, which means you can practice your skills and hone your moves even when
                you’re not connected to the internet. The AI fighter is tough and will challenge you to be at your best, 
                making sure you’re ready for any opponent.
            </p>
            <p class="text-body">
                Mucho Lucho also has a fighter customization feature that allows you to create your own unique luchador with 
                unique masks and colors. 
            </p>
        </div>
        <div class="row justify-content-center w-100">
            <div class="col-md-7 col-lg-6">
                <video class="img-fluid" autoplay muted loop>
                    <source src="images/mucho-lucho/Mucho-Lucho.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="row justify-content-center w-100 mt-5">
            <div class="col-10 col-sm-4 col-md-3 mt-3">
                <img class="img-fluid" src="../Images/mucho-lucho/mucholucho1.jpg" alt="luchadors in the ring"/>
            </div>
            <div class="col-10 col-sm-4 col-md-3 mt-3">
                <img class="img-fluid" src="../Images/mucho-lucho/mucholucho3.jpg" alt="luchador won"/>    
            </div>
            <div class="col-10 col-sm-4 col-md-3 mt-3">
                <img class="img-fluid" src="../Images/mucho-lucho/mucholucho4.jpg" alt="luchador customization"/>    
            </div>
        </div>
    </div>
    <div class="bg-body small-space"></div>
</div>